<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div id="wrap">
		<div class="container">
			<a type="button" href="/" class="btn btn-outline-secondary">Mustache</a>
			<a type="button" href="/beans.html" class="btn btn-outline-secondary">Thymeleaf</a>
			<a type="button" href="/json" class="btn btn-outline-secondary">JSON</a>
			<h1>Beans</h1>
			<div class="card">
				{{#beans}}
				<div class="card-fluid"">
					<div class="alert alert-secondary">
						<h4><a text="{{name}}" href="{{path}}"></a></h4>
						<h5>Class</h5>
						<div class="alert alert-primary">{{clazz}}</div>
						<h5>Parent</h5>
						<div class="alert alert-primary">{{parent}}</div>
						<h5>Interfaces</h5>
						<div class="alert alert-primary">
							<ul>
								{{#interfaces}}
								<li>{{name}}</li>
								{{/interfaces}}
							</ul>
						</div>
					</div>
				</div>
				{{/beans}}
			</div>
		</div>
	</div>
	<script inline="javascript">
		$(document).ready(function(){
			$.getJSON(/*[[@{/api/json}]]*/, {format: "json"},
				function(data){
					console.log(data);
					var template = $('#tmp').html();
					console.log(template);
					var must = Mustache.to_html(template, {items:data});
					$('#div').html(must);
				});
		});
	</script>
</body>
</html>