<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head (title)">
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div th:fragment="header">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/hostels">Общежития</a></li>
						<li class="nav-item"><a class="nav-link" href="/universities">Учереждения
								образования</a></li>
						<li class="nav-item"><a class="nav-link" href="/rooms">Комнаты</a></li>
						<li class="nav-item"><a class="nav-link" href="/students">Студенты</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<script th:src="@{/js/common.js}"></script>
		<script th:src="@{/js/jquery.min.js}"></script>
	</div>
</body>
</html>