<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="commons :: head(title='Общежития')"></head>
<body>
	<div class="row justify-content-center">
		<div class="col-8">
			<div class="card border-secondary mb-3" th:each="hostel : ${hostels}">
	  			<h5 class="card-header"><a th:href="${'/books/' + hostel.id}"  th:text="${hostel.name}"></a></h5>
  				<div class="card-body">
    				<p class="card-text" th:text="${hostel.address}"></p>
  				</div>
			</div>
		</div>
	</div>
	<ul>
		<li th:each="hostel : ${hostels}">
			<a th:href="${'/books/' + hostel.id}" th:text="${hostel.name}"></a>
		</li>
	</ul>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<!-- <div th:replace="commons"></div>
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col" th:text="'Название'"></th>
						<th scope="col" th:text="'Адресс'"></th>
						<th scope="col" th:text="'Комнаты'"></th>
						<th scope="col" th:text="'Учреждения образования'"></th>
						<th scope="col" th:text="''"></th>
						<th scope="col" th:text="''"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="hostel : ${hostels}">
						<td th:text="${hostel.name}"></td>
						<td th:text="${hostel.address}"></td>
						<td><a th:each="room : ${hostel.rooms}"
							th:text="${room.roomNumber} + ' '"></a></td>
						<td><a th:each="university : ${hostel.universities}"
							th:href="'/university?id=' + ${university.id}"
							th:text="${university.name} + ' '"></a></td>
						<td><a th:href="'/hostel?id=' + ${hostel.id}"
							th:text="'Изменить'" class="btn btn-secondary"></a></td>
						<td>
							<button
								th:onclick="'deleteEntity(`/hostels?id=' + ${hostel.id} + '`)'"
								th:text="Удалить" class="btn btn-secondary"></button>
						</td>
					</tr>
				</tbody>
			</table>
			<p>
				<a th:href="'/hostel'" th:text="Добавить" class="btn btn-primary"
					role="button"></a>
			</p>
		</div>
		<div class="col"></div>
		<ul>
        <li th:each="publisher : ${publishers}">
            <a th:href="${'/books/' + publishers.id}" th:text="${publisher.name + ' ' + publisher.lang.name}"></a>
        </li>
    </ul>
		
		<script th:src="@{/js/common.js}"></script>
		<script th:src="@{/js/jquery.min.js}"></script>
	</div> -->
</body>
</html>