<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="commons :: head(title='Общежитие')"></head>
<body>
	<div th:replace="commons"></div>
	<div class="row">
		<div class="col"></div>
		<div class="col-10">
			<form action="/hostels" method="post">
				<input th:if="${hostel != null}" th:value="${hostel.id}" name="id"
					id="id" type="hidden">
				<div class="form-group">
					<label for="name">Название</label><input
						oninput="readerNumberValid()"
						th:value="${hostel != null} ? ${hostel.name} : ''" required
						class="form-control" name="name" id="name" type="text"
						placeholder="Введите название">
				</div>
				<div class="form-group">
					<label for="address">Адресс</label><input
						th:value="${hostel != null} ? ${hostel.address} : ''" required
						class="form-control" name="address" id="address" type="text"
						placeholder="Введите адресс">
				</div>
				<div class="form-group">
					<label for="universityIds">Учереждения образования</label>
					<select
						th:if="${hostel != null && hostel.universities != null}" required
						multiple name="universityIds" id="universityIds"
						class="form-control">
						<option th:each="university : ${universities}"
							th:value="${university.id}" th:text="${university.name}"></option>
					</select>
					<select
						th:unless="${hostel != null && hostel.universities != null}"
						required multiple name="universityIds" id="universityIds"
						class="form-control">
						<option th:each="university : ${universities}"
							th:value="${university.id}" th:text="${university.name}"></option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary" th:text="Сохранить"></button>
			</form>
		</div>
		<div class="col"></div>
	</div>
</body>
</html>