<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="commons :: head(title='Комнаты')"></head>
<body>
<div th:replace="commons"></div>
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col" th:text="'Номер комнаты'"></th>
						<th scope="col" th:text="'Колличество человек'"></th>
						<th scope="col" th:text="'Студенты'"></th>
						<th scope="col" th:text="''"></th>
						<th scope="col" th:text="''"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="room : ${rooms}">
						<td th:text="${room.roomNumber}"></td>
						<td th:text="${room.capacity}"></td>
						<td><a th:each="student : ${room.students}"
							th:href="'/student?id=' + ${student.id}"
							th:text="${student.surname} + ' ' + ${student.name} + ' ' + ${student.patronymic} +' '"></a></td>
						<td><a th:href="'/room?id=' + ${room.id}"
							th:text="'Изменить'" class="btn btn-secondary"></a></td>
						<td>
							<button
								th:onclick="'deleteEntity(`/rooms?id=' + ${room.id} + '`)'"
								th:text="Удалить" class="btn btn-secondary"></button>
						</td>
					</tr>
				</tbody>
			</table>
			<p>
				<a th:href="'/room'" th:text="Добавить" class="btn btn-primary"
					role="button"></a>
			</p>
		</div>
		<div class="col"></div>
	</div>
</body>
</html>