<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="commons :: head(title='Комната')"></head>
<body>
<div th:replace="commons"></div>
	<div class="row">
		<div class="col"></div>
		<div class="col-10">
			<form action="/rooms" method="post">
				<input th:if="${room != null}" th:value="${room.id}" name="id" id="id" type="hidden">
				<div class="form-group">
					<label for="number">Номер комнаты</label><input
						oninput="readerNumberValid()"
						th:value="${room != null} ? ${room.roomNumber} : ''" required
						class="form-control" name="roomNumber" id="roomNumber" type="text"
						placeholder="Введите название">
				</div>
				<div class="form-group">
					<label for="capacity">Колличество человек</label><input
						th:value="${room != null} ? ${room.capacity} : ''" required
						class="form-control" name="capacity" id="capacity" type="text"
						placeholder="Введите колличество">
				</div>
				<div class="form-group">
					<label for="hostel_id">Общежития</label>
					<select required
						name="hostel_id" id="hostel_id" class="form-control">
						<option th:if="${room != null && room.hostel.id == hostel.id}"
							selected th:each="hostel : ${hostels}" th:value="${hostel.id}"
							th:text="${hostel.name}"></option>
						<option th:unless="${room != null && room.hostel.id == hostel.id}"
							th:each="hostel : ${hostels}" th:value="${hostel.id}"
							th:text="${hostel.name}"></option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary" th:text="Сохранить"></button>
			</form>
		</div>
		<div class="col"></div>
	</div>
</body>
</html>