<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="commons :: head(title='Комната')"></head>
<body>
<div th:replace="commons"></div>
	<div class="row">
		<div class="col"></div>
		<div class="col-10">
			<form action="/students" method="post">
				<input th:if="${student != null}" th:value="${student.id}" name="id"
					id="id" type="hidden">
				<div class="form-group">
					<label for="name">Имя</label><input
						th:value="${student != null} ? ${student.name} : ''" required
						class="form-control" name="name" id="name" type="text"
						placeholder="Введите имя">
				</div>
				<div class="form-group">
					<label for="surname">Фамилия</label><input
						th:value="${student != null} ? ${student.surname} : ''" required
						class="form-control" name="surname" id="surname" type="text"
						placeholder="Введите фамилия">
				</div>
				<div class="form-group">
					<label for="patronymic">Отчество</label><input
						th:value="${student != null} ? ${student.patronymic} : ''"
						required class="form-control" name="patronymic" id="patronymic"
						type="text" placeholder="Введите отчество">
				</div>
				<div class="form-group">
					<label for="passportId">Номер паспорта</label><input
						th:value="${student != null} ? ${student.passportId} : ''"
						required class="form-control" name="passportId" id="passportId"
						type="text" placeholder="Введите номер паспорта">
				</div>
				<div class="form-group">
					<label for="phone">Номер телефона</label><input
						th:value="${student != null} ? ${student.phone} : ''" required
						class="form-control" name="phone" id="phone" type="text"
						placeholder="Введите номер телефона">
				</div>
				<div class="form-group">
					<label for="room_id">Комнаты</label>
					<select required
						name="room_id" id="room_id" class="form-control">
						<option th:if="${student != null && student.room.id == room.id}"
							selected th:each="room : ${rooms}" th:value="${room.id}"
							th:text="${room.roomNumber}"></option>
						<option th:unless="${student != null && student.room.id == room.id}"
							th:each="room : ${rooms}" th:value="${room.id}"
							th:text="${room.roomNumber}"></option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary" th:text="Сохранить"></button>
			</form>
		</div>
		<div class="col"></div>
	</div>
</body>
</html>