<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="commons :: head(title='Студенты')"></head>
<body>
	<div th:replace="commons"></div>
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col" th:text="'ФИО'"></th>
						<th scope="col" th:text="'Номер паспорта'"></th>
						<th scope="col" th:text="'Номер телефона'"></th>
						<th scope="col" th:text="'Номер комнаты'"></th>
						<th scope="col" th:text="''"></th>
						<th scope="col" th:text="''"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="student : ${students}">
						<td
							th:text="${student.surname} + ' ' + ${student.name} + ' ' + ${student.patronymic} + ' '"></td>
						<td th:text="${student.passportId}"></td>
						<td th:text="${student.phone}"></td>
						<td th:text="${student.room.roomNumber}"></td>
						<td><a th:href="'/student?id=' + ${student.id}"
							th:text="'Изменить'" class="btn btn-secondary"></a></td>
						<td>
							<button
								th:onclick="'deleteEntity(`/students?id=' + ${student.id} + '`)'"
								th:text="Удалить" class="btn btn-secondary"></button>
						</td>
					</tr>
				</tbody>
			</table>
			<p>
				<a th:href="'/student'" th:text="Добавить" class="btn btn-primary"
					role="button"></a>
			</p>
		</div>
		<div class="col"></div>
	</div>
</body>
</html>