<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="commons :: head(title='Учереждение образования')">
</head>
<body>
	<div th:replace="commons :: header"></div>
	<div class="row">
		<div class="col"></div>
		<div class="col-10">
			<form action="/universities" method="post">
				<input th:if="${university != null}" th:value="${university.id}"
					name="id" id="id" type="hidden">
				<div class="form-group">
					<label for="name">Название</label><input
						oninput="readerNumberValid()"
						th:value="${university != null} ? ${university.name} : ''"
						required class="form-control" name="name" id="name" type="text"
						placeholder="Введите название">
				</div>
				<div class="form-group">
					<label for="address">Адресс</label><input
						th:value="${university != null} ? ${university.address} : ''"
						required class="form-control" name="address" id="address"
						type="text" placeholder="Введите адресс">
				</div>
				<div class="form-group">
					<label for="capacityBild">Количество корпусов</label><input
						th:value="${university != null} ? ${university.capacityBild} : ''"
						required class="form-control" name="capacityBild"
						id="capacityBild" type="text" placeholder="Введите количество">
				</div>
				<button type="submit" class="btn btn-primary" th:text="Сохранить"></button>
			</form>
		</div>
		<div class="col"></div>
	</div>
</body>
</html>