<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="commons :: head(title='Учереждения образования')">
</head>
<body>
<div th:replace="commons :: header"></div>
	<div class="row">
		<div class="col"></div>
		<div class="col-8">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col" th:text="'Название'"></th>
						<th scope="col" th:text="'Адресс'"></th>
						<th scope="col" th:text="'Колличество корпусов'"></th>
						<th scope="col" th:text="'Общежития'"></th>
						<th scope="col" th:text="''"></th>
						<th scope="col" th:text="''"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="university : ${universities}">
						<td th:text="${university.name}"></td>
						<td th:text="${university.address}"></td>
						<td th:text="${university.capacityBild}"></td>
						<td><a th:each="hostel : ${university.hostels}"
							th:href="'/hostel?id=' + ${hostel.id}"
							th:text="${hostel.name} + ' '"></a></td>
						<td><a th:href="'/university?id=' + ${university.id}"
							th:text="'Изменить'" class="btn btn-secondary"></a></td>
						<td>
							<button
								th:onclick="'deleteEntity(`/universities?id=' + ${university.id} + '`)'"
								th:text="Удалить" class="btn btn-secondary"></button>
						</td>
					</tr>
				</tbody>
			</table>
			<p>
				<a th:href="'/university'" th:text="Добавить" class="btn btn-primary"
					role="button"></a>
			</p>
		</div>
		<div class="col"></div>
	</div>
</body>
</html>