<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons::head(title='Error page')"></head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
    <div id="wrap">
        <div class="container">
            <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
            <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
            <a href="/" th:href="@{/}">Back to Home Page</a>
        </div>
        <div th:replace="commons::footer"></div>
    </div>
</body>
</html>
