<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div id="wrap">
		<div class="container">
			<a type="button" th:href="@{/}" class="btn btn-outline-secondary">Mustache</a>
			<a type="button" th:href="@{/beans.html}" class="btn btn-outline-secondary">Thymeleaf</a>
			<a type="button" th:href="@{/json}" class="btn btn-outline-secondary">JSON</a>
			<h1>Beans</h1>
			<div class="card">
				<div class="card-fluid" th:each="bean : ${beans}">
					<div class="alert alert-secondary">
						<h4><a th:text="${bean.name}" th:href="${bean.path}"></a></h4>
						<h5>Class</h5>
						<div class="alert alert-primary" th:text="${bean.clazz}"></div>
						<h5>Parent</h5>
						<div class="alert alert-primary" th:text="${bean.parent}"></div>
						<h5>Interfaces</h5>
						<div class="alert alert-primary">
							<ul>
								<li th:each="interface : ${bean.interfaces}"
									th:text="${interface.name}"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>