<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="commons::head"></head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="loginbox">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{authorization}">Enter your login and password</h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="#{auth_info}">Card subtitle</h6>
                        <div class="alert alert-danger" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'] != null}"
                            th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                            <span th:text="${errorMsg}">Wrong input!</span>
                        </div>
                        <form action="/login" method="POST">
                            <input type="hidden" name="backUrl" th:value="@{${#httpServletRequest.requestURI}}"/>
                            <div class="form-group">
                                <label class="col-form-label" for="login" th:text="#{username}">Login</label>
                                <input type="text" class="form-control" id="login" name="username" autocomplete="off" maxlength="64" th:placeholder="#{login}" autofocus>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="password" th:text="#{password}">Password</label>
                                <input type="password" class="form-control" id="password" name="password" autocomplete="off" maxlength="64" th:placeholder="#{password}">
                            </div>
                            <div class="d-flex flex-row">
                                <button type="submit" class="btn btn-primary w-50 mr-1" th:text="#{login}">Login</button>
                                <a th:href="@{/user}" class="btn btn-info w-50 ml-1">Create New Account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="commons::footer"></div>
    </div>
</body>
</html>