<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="commons::head"></head>
<body>
    <div id="wrap">
        <div class="container">
            <h1 th:text="${form.user == null || form.user.id == null} ? #{create_new_account} : #{edit_account(${form.user.username})}">New Accaunt</h1>
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/user}" th:object="${form}" method="POST">
                        <input type="hidden" th:field="*{user.id}">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group row">
                                    <label class="col-form-label col-4" for="username" th:text="#{user_name}">Username</label>
                                    <div class="col-8">
                                        <input type="text" class="form-control" th:class="${form.user.id == null} ? 'form-control' : 'form-control-plaintext'" th:readonly="${form.user.id != null} ? 'readonly'" th:classappend="${#fields.hasErrors('user.username')} ? 'is-invalid'" id="username" th:field="*{user.username}" autocomplete="off" maxlength="50" th:placeholder="#{user_name}">
                                        <div th:if="${#fields.hasErrors('user.username')}" class="invalid-feedback" th:errors="*{user.username}">username</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-4" for="user_password" th:text="#{user_password}">Password</label>
                                    <div class="col-8">
                                        <input type="password" class="form-control" th:classappend="${#fields.hasErrors('user.password')} ? 'is-invalid'" id="user_password" th:field="*{user.password}" autocomplete="off" maxlength="30" th:placeholder="#{user_password}">
                                        <div th:if="${#fields.hasErrors('user.password')}" class="invalid-feedback" th:errors="*{user.password}">password</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-4" for="confirm_password" th:text="#{confirm_password}">Confirm Password</label>
                                    <div class="col-8">
                                        <input type="password" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" id="confirm_password" th:field="*{password}" autocomplete="off" maxlength="30" th:placeholder="#{confirm_password}">
                                        <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback" th:errors="*{password}">password</div>
                                    </div>
                                </div>
                            </div>
                            <!-- BUTTONS -->
                            <div class="col-8">
                                <div class="row">
                                    <div class="offset-4 col-8">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="submit" class="btn btn-primary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- END CARD-BODY -->
            </div><!-- END CARD -->
        </div>
        <div th:replace="commons::footer"></div>
    </div>
</body>
</html>