.navbar .navbar-brand, .navbar .nav-item .nav-link {
    text-transform: uppercase;
}

#wrap {
    margin-top: 20px;
}

.dropdown-menu.themes.show {
    display: flex;
    width: 320px;
    flex-wrap: wrap;
}

.dropdown-menu.themes.show .dropdown-item {
    width: 50%;
}

.dropdown-menu.themes.show .dropdown-item:first-child {
    width: 100%;
}
